# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage
/test-results

# Production
/dist
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm/yarn/pnpm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.swp
*.bak
*.tmp
*.temp

# Android/Capacitor specific (if you don't want to track builds)
android/app/build/
android/.gradle/
android/local.properties
